body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}


h1 {
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
  font-family: "Sacramento", cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #f1f3f4;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.profile {
  display: block;
  width: 50%;
  margin: auto;

}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.guinness {
  width: 450px;
  height: 350px;
  margin-top: 20px;
  border-radius: 100%;
}

.PCB {
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.coding {
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}

.footer-link {
  color: #11999E;
}

.job {
  font-weight: normal;
}

.Get-In-Touch {
  background-color: #66BFBF;
  color: #65587f;
  display: inline;
  padding: 0.5rem;
  margin: auto;
}

.last-rule {
  margin: 20px;
}
